global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'phishing-api'
    static_configs:
      - targets: ['host.docker.internal:8000']
    scrape_interval: 10s    # Changed from 5s to 10s
    scrape_timeout: 5s      # Changed from 10s to 5s
    metrics_path: /metrics
    scheme: http
